<form class="" action="/create" method="post">
  <input type="text" name="name" value="" placeholder='Name'>
  <input type="text" name="alliance" value="" placeholder='Alliance'>
  <input type="text" name="owner" value="" placeholder='Owner'>
  <input type="text" name="description" value="" placeholder='Description'>
  <input type="url" name="image" value="" placeholder='Image URL'>
  <button type="submit">Create</button>
</form>
